.myfont h2,
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
}

#containerImg {
    max-height: 800px;
}

.vignette {
    min-height: 150px;
    cursor: pointer;
    transition: 0.5s;
}

.vignette:hover {
    filter: hue-rotate(120deg);
    -webkit-filter:hue-rotate(120deg);
    transform:scale(1.03);
}
#myImg{
    max-height: 700px;
    width:auto;
}
